<form id="user-edit-box" class="ui form blue inverted segment raised <%= if @user.errors.any? then
                                                                           'error'
                                                                         end %> "
      action=<%= user_path %> accept-charset="UTF-8" method="post">

  <!--ERROR MESSAGE <DIV>-->
  <%= render 'error_messages' %>

  <div class="ui center aligned container">

    <h3 class="ui inverted icon  header">
      <i class="circular small lock icon"></i>
      Change Password
    </h3>
  </div>
  <input type="hidden" name="_method" value="patch"/>
  <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
  <input type="hidden" name="email" value=<%= @user.email %> />

  <div class="two fields">
    <div class="required field">
      <label>Password</label>
      <input type="password" placeholder="password" name="user[password]">
    </div>
    <div class="required field">
      <label>Confirm Password</label>
      <input type="password" placeholder="confirm password" name="password-confirm">
    </div>
  </div>

  <button class="ui button red icon labeled" type="submit">
    <i class="icon edit"></i>
    Change Password
  </button>
  <button class="ui labeled  icon button grey">
    <a href="/users/<%= @user.id %>">
      Cancel
    </a>
    <i class="edit icon"></i>
  </button>

</form>