<!--<p>Title: <#%= title %>, Composer: <#%= composer %>, Arranger: <#%= arranger_one %>, Song Number: <#%= song_number %></p>-->

<!--Create a list of found songs-->

<div class="column">
  <i class="music icon"></i>

  <a href="/performances/<%= performance_id %>/add_song/<%= song_id %>" > <%= title %></a>

</div>
<div class="column">
  <i class="calendar icon"></i>
  <%= composer %>
</div>
<div class="column">
  <i class="user icon"></i>
  <%= arranger_one %>
</div>