<tr class="song-row">
  <td class="title  "><a href="/songs/<%= song_id %>"><%= title %></a></td>
  <td class="composer  "><%= composer %></td>
  <td class="voicing  "><%= voicing %></td>
  <td class="category  "><%= category %></td>
  <td class="larger-work "><%= larger_work %></td>
  <td class="arranger-one "><%= arranger_one %></td>
  <td class="arranger-two "><%= arranger_two %></td>
</tr>