<tr class="song-row">
  <td class="title song-row "><a href="/songs/<%= song_id %>"><%= title %></a></td>
  <td class="composer song-row "><%= composer %></td>
  <td class="voicing song-row "><%= voicing %></td>
  <td class="category song-row "><%= category %></td>
  <td class="larger-work song-row"><%= larger_work %></td>
  <td class="arranger-one song-row"><%= arranger_one %></td>
  <td class="arranger-two song-row"><%= arranger_two %></td>
</tr>