<!DOCTYPE html>
<html>
<head>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css">

  <%= csrf_meta_tags %>
</head>
<div class="center">
  <%= image_tag("stfyc_logo_strip.png") %>

  <% if @render_club_photo %>
    <!--<img src="https://www.stfyc.com/images/Redesign/logo.png" class="center-logo">-->
    <%= image_tag("stfyc-night.jpg") %>
  <!--<#% else %>-->
    <!--<#%= image_tag("stfyc_logo_strip.png") %>-->
  <% end %>
</div>
<container class="the_container">
    <% if current_user %>
      <%= render partial: "menu" %>
    <% end %>

  </div>
  <br>
<div class="ui center aligned container">
  <% flash.each do |message_type, message| %>
    <div class="ui message <%= message_type %>"><%= message %></div>
  <% end %>
</div>


  <body>
  <%= yield %>
  </body>
</container>
</html>
